.navbar {
  background: linear-gradient(to right, #3f51b5, #5a55ae, #7b5fac, #8f6aae, #a86aa4, #cc6b8e, #f18271, #f3a469, #f7c978);
  margin-bottom:20px;
}

.brand, .list_item{
  color: #fff !important;
  font-family: 'Sans-serif', Arial;
  font-size: 22px;
  display: flex;
  display: inline-block;
}

.list_item:hover{
  color: black !important;
}

.btn{
  margin-left: 10px;
}

button.navbar-toggler.collapsed {
  background: white !important;
}
